<section id="home-slider">
  <div class="container">
      <div class="row">
        <div class="main-slider">
          <div class="col-sm-4 col-sm-offset-4 text-center">
            <h1 class="margin-bottom">Welcome back</h1>
            <%= render 'form' %>
          </div>
          <img src="/images/home/slider/birds1.png" class="slider-birds1" alt="slider image" style="z-index: -1">
          <img src="/images/home/slider/birds2.png" class="slider-birds2" alt="slider image" style="z-index: -1">
        </div>
      </div>
  </div>
</section>
