<p>
  <%= prompt.body %>
  <%= link_to 'Show', prompt %>

  <%= render partial: 'respond', locals: { prompt: prompt } %>

  <% unless prompt.responses.empty? %>
    <ul>
      <% prompt.responses.each do |response| %>
        <li><%= render partial: 'prompt', locals: { prompt: response } %></li>
      <% end %>
    </ul>
  <% end %>
</p>
