<form class="form" action="<%= new_prompt_path %>" method="get">
  <input type="hidden" value="<%= prompt.id %>" name="source_id">
  <div class="text-right">
    <button type="submit" class="btn btn-common">
      <i class="fa fa-reply"></i>
    </button>
  </div>
</form>
