<div class="prompt col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms">
  <%= render partial: 'prompts/single_prompt', locals: { prompt: prompt } %>
</div>
