<div id="index-footer-<%= prompt.id %>" class="post-bottom overflow">
  <span class="post-date pull-left">
    <%= render partial: 'response_status', locals: { prompt: prompt } %>
  </span>

  <span class="comments-number pull-right">
    <%= link_to prompt do %>
    <% if prompt.image.present? %>
      1 image,
    <% end %>
      <%= pluralize prompt.responses.count, 'response' %>
    <% end %>
  </span>
</div>
