<section id="blog" class="padding-bottom">
  <div class="container">
    <div class="row">
      <div class="timeline-blog overflow padding-top">
        <div class="timeline-date text-center">
          <%= link_to 'New Prompt', new_prompt_path, class: 'btn btn-common uppercase', id: 'prompt_new_btn', remote: true %>
        </div>

        <div class="timeline-divider overflow padding-bottom" id= "list_of_prompts">
          <%= render partial: 'prompts/prompts', locals: { prompts: @prompts } %>
        </div>

        <div class="timeline-blog overflow">
          <div class="timeline-date text-center">
            <a class="btn btn-common" href="#">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
