
<section id="blog" class="padding-bottom">
  <div class="container">
    <div class="row">
      <div class="timeline-blog overflow padding-top">
        <div class="timeline-date text-center">
          <%= render partial:'prompts/new_prompt_btn' %>
        </div>

        <div class="timeline-divider overflow padding-bottom" id= "list_of_prompts">
          <%= render partial: 'prompts/prompts', locals: { prompts: @prompts } %>
        </div>

        <div class="timeline-blog overflow">
          <div class="timeline-date text-center">
            <%= link_to "discover more", prompts_path, class: "btn btn-common uppercase" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
