<section>
  <div class="container">
    <div class="row">
      <div id="accordion-container">
        <%= render partial: 'prompts/prompt', locals: { prompt: @prompt }  %>
      </div>
    </div>
  </div>
</section>
