<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <% if @prompt.source %>
    <%= @prompt.source.body %>
    <%= link_to 'Show', @prompt.source %>
  <% else %>
    No source for this one!
  <% end %>
  <%= render partial: 'prompts/prompt', locals: { prompt: @prompt } %>
</p>
