<div class="col-sm-6 padding-left padding-top arrow-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
  <%= render partial: 'users/single_user', locals: { user: user } %>
</div>
