<section id="blog" class="padding-bottom">
  <div class="container">
    <div class="row">
      <div class="timeline-blog overflow padding-top">
        <div class="timeline-date text-center">
          <h1>Thanks for helping children understand and explore space!</h1><br>
          <p class="btn btn-common uppercase">
            All Parents
          </p>
        </div>

        <div class="timeline-divider overflow padding-bottom" id= "list_of_prompts">
          <%= render partial: 'users/users', locals: { users: @users } %>
        </div>

        <div class="timeline-blog overflow">
          <div class="timeline-date text-center">
            <a class="btn btn-common" href="#">More Parents</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
