<form action="<%= new_prompt_path %>" method="get">
  <input type="hidden" name="character_id" value="<%= character.id %>">
  <div class="text-right">
    <button type="submit" class="btn btn-common">
      <i class="fa fa-reply"></i>
    </button>
  </div>
</form>
