<h1>Add characters—to help children remember stories and explore new concepts.</h1><br>

<%= link_to 'Add Character', new_character_path, id: 'new_character_btn', class: 'btn btn-common uppercase', remote: true %>
