<div id="mention_#{character.id}" class="text-right">
  <%= link_to new_character_mention_path(character.id), class: "btn btn-common", remote: true do %>
    <i class="fa fa-reply"></i>
  <% end %>
</div>
