<section id="blog" class="padding-bottom">
  <div class="container">
    <div class="row">
      <div class="timeline-blog overflow padding-top">
        <div class="timeline-date text-center">
          <%= link_to 'New Character', new_character_path, class: 'btn btn-common uppercase' %>
        </div>

        <div class="timeline-divider overflow padding-bottom" id= "list_of_prompts">
          <%= render partial: 'characters/characters', locals: { characters: @characters } %>
        </div>

        <div class="timeline-blog overflow">
          <div class="timeline-date text-center">
            <a class="btn btn-common" href="#">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
