<form class="" action="<%= new_prompt_path %>" method="get">
  <input type="hidden" value="<%= concept.id %>" name="concept_id">
  <input type="submit" value="Create a new prompt from this concept">
</form>
