<div class="col-sm-6 padding-left padding-top wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
  <%= render partial: 'concepts/single_concept', locals: { concept: concept } %>
</div>
