
<p>
  <strong>Concept:</strong>
  <%= link_to @concept, @concept %>
  <%= link_to 'Edit', edit_concept_path(@concept) %> |
  <%= link_to 'Destroy', @concept, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= render partial: 'concepts/new_prompt', locals: { concept: @concept } %>
</p>

<!-- <%# if @concept.prompts.present? %>
  <p>
    <strong><%# pluralize @concept.prompts.count, 'related prompt' %>:</strong>
    <%# render @concept.prompts %>
  </p>
<%# end %> -->
