@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "animate.min";
@import "lightbox";
@import "main";
@import "responsive";

.panel-group .panel-footer {
  margin-top: 20px
}

.panel-group {
  border: none;
}
