@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "animate.min";
@import "lightbox";
@import "main";
@import "responsive";

.source {
  color: #ddd;
}

.prompt-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.prompt-list {
	margin-top: 30px;
	position: relative;
}

// Lines

.prompt-list:before {
	content: '';
	width: 1px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 10px;
}

.response-list:before, .response-list:after {display: none;}
.response-list li:before {
  content: '';
  width: 40px;
  height: 1px;
  background: #c7cacb;
  position: absolute;
  top: 10px;
  left: -48px;
}

.prompt-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.prompt-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.response-list {
	clear: both;
	margin-top: 15px;
}
