

  <section id="action" class="responsive">
      <div class="vertical-center">
           <div class="container">
              <div class="row">
                  <div class="action take-tour">
                      <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                          <h1 class="title">Wouldn't It Be Cool If We Needed This Section?</h1>
                          <p>We probably don't, but it's here if we do.</p>
                      </div>
                      <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                          <div class="tour-button">
                              <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                           </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
 </section>
