<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/images/home/icon1.png" alt="">
                    </div>
                    <h2>Question 1</h2>
                    <p>You won't believe what this parent asked!</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="/images/home/icon2.png" alt="">
                    </div>
                    <h2>Another Question</h2>
                    <p>You think you've seen questions like this, but you have no idea what's in store.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="/images/home/icon3.png" alt="">
                    </div>
                    <h2>A Third Question</h2>
                    <p>You'll laugh, you'll cry, you'll NEED to write an answer to this incredible question.</p>
                </div>
            </div>
        </div>
    </div>
</section>
