<div class="row">
  <% if flash[:notice] %>
  <div class="col-sm-2"></div>

  <div class="col-sm-8 text-center alert alert-success fade in">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="col-sm-2"></div>

  <div class="col-sm-8 text-center alert alert-danger fade in">
    <%= flash[:alert] %>
  </div>
<% end %>
</div>
