<footer id="footer" style="background-image: url('<%= asset_path ("footer-no-rocket") %>');
">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <!-- <img src="/images/home/under.png" class="img-responsive inline" alt=""> -->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <div class="media">
                        <div class="pull-left">
                        </div>
                        <div class="media-body">
                            <h3><a href="#"></a></h3>
                        </div>
                     </div>
                    <div class="media">
                        <div class="pull-left">
                        </div>
                        <div class="media-body">
                            <h3><a href=""></a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                  <p>Made with
                    <span style="color: red">&#9829;</span>
                    by
                    <a href="#">Jessica Wray</a>,
                    <a href="#">Drew Price</a>,
                    <a href="#">Stefania Druga</a>,
                    &amp;
                    <a href="#">Rolando Brown</a>
                    at the
                    <span style="color: #15B3D9">//</span>
                    <a href="http://flatironschool.com/">Flatiron School</a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</footer>
