<p>
  <%= link_to "Prompts", prompts_path, class: "btn btn-primary" %>
  <%= link_to "Concepts", concepts_path, class: "btn btn-primary" %>
  <%= link_to "Characters", characters_path, class: "btn btn-primary" %>
</p>
